body{
    background-image: url("https://uhdwallpapers.org/download/macos-monterey_897687/1920x1080/");
    background-size: cover;
    background-position: center;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 97vh;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 1 1 3px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}
.buttons{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 0;
}
.buttons:hover{
    background-color: rgba(0, 0, 0, 0.1);
    transition: ease-in-out 0.09s;
}
.buttons.active{
    background-color: aquamarine;
    transition: ease-in-out 0.2s;
}
.content{
    display: none;
}
.content.active{
    display: block;
}